$purple-honeycreeper: #8a53ff;
$black-suede: #434343;
$white: #ffffff;
$skyline: #939eb4;
$cerebral-grey: #cccccc;
$vintage-velvet: #495367;
$chateau-de-chillon: #a2a7b1;
$trolley-grey: #828181;
$dr-white: #fafafa;
$black: #000000;